<div class="info">
    <ul>
        <li class="country-item" id="country-name"> Name: {{name}}</li>
        <li class="country-item" id="country-capital"> Capital City: {{capital}}</li>
        <li class="country-item" id="country-region"> Region: {{region}}</li>
        <li class="country-item" id="country-income"> Income Level: {{incomeLevel}}</li>
        <li class="country-item" id="country-longitude"> Longitude: {{longitude}}</li>
        <li class="country-item" id="country-latitude"> Latitude: {{latitude}}</li>
    </ul>
</div>
