.content-container {
    display: grid;
    grid-template-areas: 
    "map map info"
    "map map info"
    ;
}

div.map-sect {
    width: 60vw;
    height: auto;
    grid-area: map;
    border: 10px solid #4F6D8A;
    box-shadow: 15px 15px 20px;
    border-radius: 150px;
    padding: 1.2rem;
    margin: 50px;
    margin-left: 75px;
    background-color: #abd6ff;
}

div.info-sect {
    grid-area: info;
    border: 10px solid #4F6D8A;
    box-shadow: 15px 15px 20px;
    border-radius: 50px;
    padding: 30px;
    margin: 25% 175px 40px 20px;
    display: flex;
    height: fit-content;
    align-items: center;
    background-color: #2b3e55c7;
}